#header {
	background: url(../img/milkbg.jpg) no-repeat center #00f;
	height: 400px;
	background-size: cover;
	position: relative;
	padding: 50px;
}

.row {
	padding-bottom: 30px;
}

.jumbotron {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	color: #eee;
	background-color: rgba(0,0,0,.6);
	width: 50%;
}

#about-us {
	background-color: lightgrey;
}
 
p {
	font-size: 140%;
}

#contact-us {
	background-color: #26A0CF;
	color: white;
}