.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
#contact_us
{
	background-color: lightblue;	
}
.row
{
	padding-bottom: 25px; 
}

#banner 
{
	height: 600px;
	background: url("../img/milkbg.jpg") no-repeat center #00f;
	background-size: cover;
	position: relative;
}
.jumbotron
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: rgba(0,0,0,0.5);
	color: #eee;
}
button
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	background-color: RED;
	color: White;
}
